#grid {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 600px;
    
  }

#grid img{
  width:25%;
  height:auto;
}

  
#result
{
   font-size:50px;
   color:red;
   background-color: yellow;
   display: flex;
   justify-content: center;
   align-items: center;

}